    <hr>
        <footer class="footer">
            <div class="container mb-5">
                <span class="text-muted">&copy; 2020. <br/>
                Disclaimer: The information in this page might be innacurate.</span>
            </div>
        </footer>
    </body>
</html>