<%- include('partials/header.ejs') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#solar-system-menu" aria-controls="solar-system-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="solar-system-menu">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/mercury">Mercury</a>
        <a class="nav-item nav-link" href="/venus">Venus</a>
        <a class="nav-item nav-link" href="/earth">Earth</a>
        <a class="nav-item nav-link" href="/mars">Mars</a>
        <a class="nav-item nav-link" href="/jupiter">Jupiter</a>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Solar System Site!</h1>
  </div>

  <div class="mx-auto description mb-5" style="width: 60%;">
      <p class="lead mt-5">The solar system is made up of the sun and everything that orbits around it, including planets, 
      moons, asteroids, comets and meteoroids. It extends from the sun, called Sol by the ancient Romans, and goes past the four 
      inner planets, through the Asteroid Belt to the four gas giants and on to the disk-shaped Kuiper Belt and far beyond to the 
      teardrop-shaped heliopause. Scientists estimate that the edge of the solar system is about 9 billion miles (15 billion kilometers) 
      from the sun. Beyond the heliopause lies the giant, spherical Oort Cloud, which is thought to surround the solar system.</p>
      <img src="/img/solar_system.jpg" class="rounded mx-auto d-block mt-5"  alt="The Solar System" />
  </div>

<%- include('partials/footer.ejs') %>