<%- include('partials/header.ejs') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#solar-system-menu" aria-controls="solar-system-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="solar-system-menu">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link active" href="/mercury">Mercury</a>
        <a class="nav-item nav-link" href="/venus">Venus</a>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Mercury</h1>
  </div>

  <div class="mx-auto description mb-5" style="width: 60%;">
      <p class="lead mt-5">Mercury is the closest planet to the sun. As such, it circles the sun faster than all the other planets, which is why Romans named it after their swift-footed messenger god.
      The Sumerians also knew of Mercury since at least 5,000 years ago. It was often associated with Nabu, the god of writing. Mercury was also given separate names for its appearance as both a 
      morning star and as an evening star. Greek astronomers knew, however, that the two names referred to the same body, and Heraclitus, around 500 B.C., correctly thought that both Mercury and 
      Venus orbited the sun, not Earth.</p>
      <img src="/img/mercury.jpg" class="rounded mx-auto d-block mt-5"  alt="Mercury" />
  </div>

<%- include('partials/footer.ejs') %>