<%- include('partials/header.ejs') %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#solar-system-menu" aria-controls="solar-system-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="solar-system-menu">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/mercury">Mercury</a>
        <a class="nav-item nav-link active" href="/venus">Venus</a>
        <a class="nav-item nav-link" href="/earth">Earth</a>
        <a class="nav-item nav-link" href="/mars">Mars</a>
        <a class="nav-item nav-link" href="/jupiter">Jupiter</a>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Venus</h1>
  </div>

  <div class="mx-auto description mb-5" style="width: 60%;">
      <p class="lead mt-5">Venus, the second planet from the sun, is named after the Roman goddess of love and beauty and is the only planet named after 
      a female. Venus may have been named after the most beautiful deity of the pantheon because it shone the brightest among the five planets known to ancient astronomers. 
      In ancient times, Venus was often thought to be two different stars, the evening star and the morning star — that is, the ones that first appeared at sunset and sunrise. 
      In Latin, they were respectively known as Vesper and Lucifer. In Christian times, Lucifer, or "light-bringer," became known as the name of Satan before his fall. However, 
      further observations of Venus in the space age show a very hellish environment. This makes Venus a very difficult planet to observe from up close, because spacecraft do 
      not survive long on its surface.</p>
      <img src="/img/venus.jpg" class="rounded mx-auto d-block mt-5"  alt="Venus" />
  </div>

<%- include('partials/footer.ejs') %>