body {
    background-color: #404040;
    text-align: center;
}

.jumbotron {
    background-color: #404040;
    color: white;
}

.description {
    color: white;
}

hr {
    border: 1px solid white;
}

nav > .active > a:focus {

    background-color: rgba(103,103,103,1.00);

    color: rgba(229,229,229,1.00);   

}